body {
    /* height: -webkit-fill-available;
    width: -webkit-fill-available;
    background: lightgrey;
    cursor: crosshair; */
}
canvas{
    width: 120vw;
    height: 120vh;
    background: white;
    position: absolute;
    top: -10vh;
    left: -10vw;
    z-index: -1;
}
.container {
    cursor: grab;
    overflow: auto;
}

#main{
    display: flex;
}

#button-list{
    display: flex;
    /* width: -webkit-fill-available; */
    /* justify-content: space-around; */
    flex-direction: column;
}
button{
    height: 50px;
    width: 10vh ;
    background: darkgrey;
    color: red;
    font-size: 24px;
    cursor: pointer;
}